<div class="container">
  <h2>Add New Wolf</h2>
  <input [(ngModel)]="newWolf.name" placeholder="Name" />
  <select [(ngModel)]="newWolf.gender">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
  <input type="date" [(ngModel)]="newWolf.birthday" />
  <button (click)="addWolf()">Add Wolf</button>
  <h2>All Wolves</h2>
  <div *ngFor="let wolf of wolves">
    <input [(ngModel)]="wolf.name" (change)="updateWolf(wolf)" />
    <input [(ngModel)]="wolf.gender" (change)="updateWolf(wolf)" />
    <input type="date" [(ngModel)]="wolf.birthday" (change)="updateWolf(wolf)" />
    <button (click)="removeWolf(wolf.id)">Remove</button>
    <button (click)="updateWolf(wolf)">Update</button>
  </div>
</div>